html, body {
    background: #0089d7 !important;
}

.gray-medium {
    background-color: rgb(225, 230, 234);
}

.gray-light {
    background-color: rgb(250, 250, 250);
}

.btn {
    font-size: 14px !important;
}

.btn-gray-medium {
    background-color: rgb(228, 228, 228);
}

.btn-gray-light {
    background-color: rgb(250, 250, 250);
}

.btn-gray-medium:hover {
    background-color: rgb(192, 192, 192);
}

.btn-gray-light:hover {
    background-color: rgb(225, 225, 225);
}

.btn-text {
    border: none;
    background-color: inherit;
}

.btn-text:hover {
    border: none;
    background-color: inherit;
    filter: brightness(100%);
}
